@model IEnumerable<DishVM>

@{
    ViewData["Title"] = "Dish";
}

<h1>Liste des plats</h1>

<div>
    <h4>Menus</h4>

        <table>
            <thead>
                <tr>
                    <th width="30%">
                        Plat
                    </th>
                    <th width="30%">
                        Description
                    </th>
                    <th width="10%">
                        Prix
                    </th>
                    <th width="20%">
                        Allergies
                    </th>
                    <th width="10%">
                        Ajouter
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergies)
                    </td>
                    <td>
                        <a asp-action="">Ajouter</a>
                    </td>
                </tr>
                }
            </tbody>

        </table>

</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
