@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Liste des Restaurants ";
}



<h1>Nos restaurants partenaires <i class="fas fa-utensils"></i></h1>




@if (Model != null && Model.Any())
{
    <p><i class="fas fa-info-circle"></i> Ces restaurants sont desservis par des livreurs qui livrent chez toi !</p>
    <table class="table">
        <thead>
            <tr>
                <th width="20">
                    <i class="fas fa-store"></i> Restaurant
                    @*@Html.DisplayNameFor(model => model.Name) *@
                </th>
                <th width="40">
                    <i class="fas fa-align-justify"></i> Description
                    @*@Html.DisplayNameFor(model => model.Description)*@
                </th>
                <th width="20%">
                    <i class="fas fa-map-marker-alt"></i> Lieu
                    @*@Html.DisplayNameFor(model => model.LocationName)*@
                </th>
                <th width="20%">
                    <i class="fas fa-list-alt"></i> Carte des menus
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        <a class=" btn btn-info" href="@Url.Action("Details", "Restaurant", new { id = item.RestaurantId })"><i class="fas fa-eye"></i> Consulter la carte</a>
                    </td>
                </tr>
            }


        </tbody>

    </table>
}
else
{
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Aucun restaurant disponible</h4>
    <p>Malheuresement, aucun restaurant ne livre dans ta région :(</p>
    <hr>
    <p class="mb-0">Nous sommes principalement actif en Valais pour le moment.</p>
</div>
}


