@model FoodDeliveryPlatform.Models.ErrorVM
@{
  ViewData["Title"] = @Model.ErrorCode + " error";
}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  @Model.ErrorCode <strong>@Model.ErrorMessage</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left"></i> Retour au site</a>

