@model FoodDeliveryPlatform.Models.ErrorVM
@{
  ViewData["Title"] = @Model.ErrorCode + " error";
}

<div class="alert alert-warning" role="alert">
  @Model.ErrorCode <strong>@Model.ErrorMessage</strong>
</div>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left"></i> Retour au site</a>

